team project (1).json
{
  "name": "team project",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1RQqNv9A8kwUdt_faYfFH3mCbfRSTC74NoB9HopIIrDk",
          "mode": "list",
          "cachedResultName": "supplier sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RQqNv9A8kwUdt_faYfFH3mCbfRSTC74NoB9HopIIrDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RQqNv9A8kwUdt_faYfFH3mCbfRSTC74NoB9HopIIrDk/edit#gid=0"
        },
        "options": {
          "columnsToWatch": [
            "Allotment for Retailer A"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -160
      ],
      "id": "a055ca35-632d-4811-8759-c5e41edcf0cc",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "rDsYU3KACOONjWvh",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw",
          "mode": "list",
          "cachedResultName": "Retailer sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SKU": "={{ $json.SKU }}",
            "Product Name": "={{ $json['Product Name'] }}",
            "Allotment for Retailer A": "={{ $json['Allotment for Retailer A'] }}",
            "order recieve from seller": "={{ $json['Quantity Delivered to Retailer'] }}"
          },
          "matchingColumns": [
            "Product Name"
          ],
          "schema": [
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Supplier Name",
              "displayName": "Supplier Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cost Price",
              "displayName": "Cost Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Selling Price",
              "displayName": "Selling Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Allotment for Retailer A",
              "displayName": "Allotment for Retailer A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ordered to supplier",
              "displayName": "ordered to supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "empty",
              "displayName": "empty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "order recieve from seller",
              "displayName": "order recieve from seller",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total inventry",
              "displayName": "total inventry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Available Stock(Sync with Shopify)",
              "displayName": "Available Stock(Sync with Shopify)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NO. of items sold",
              "displayName": "NO. of items sold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -160
      ],
      "id": "9a363d67-d82f-488a-a100-b5f05ef5ea9d",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sCBFYjTvjRvULpHE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "62c0f8cc-ef17-4899-82a1-99a3a8390460",
              "leftValue": "={{ $json['Available Stock(Sync with Shopify)'] }}",
              "rightValue": "=10",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        112
      ],
      "id": "67e6ae90-14d4-421b-8541-95ff6d94f306",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw",
          "mode": "list",
          "cachedResultName": "Retailer sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        96
      ],
      "id": "0ad6c72b-8b40-447c-8a09-afbb1dd57f8c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sCBFYjTvjRvULpHE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "alert PO",
        "message": "=with sku  {{ $json.SKU }} this your item is reache in minimum  value.\nplease proceed reorder it.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        96
      ],
      "id": "b6ef63c9-a753-42c5-964b-535712a91178",
      "name": "Send a message",
      "webhookId": "53801a64-1ddb-4192-bc9f-38b797f6ce44",
      "credentials": {
        "gmailOAuth2": {
          "id": "aOp8dwXlr3MdrfKN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        96
      ],
      "id": "0c7588eb-e50c-4823-b25f-84d1edf41668",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RQqNv9A8kwUdt_faYfFH3mCbfRSTC74NoB9HopIIrDk",
          "mode": "list",
          "cachedResultName": "supplier sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RQqNv9A8kwUdt_faYfFH3mCbfRSTC74NoB9HopIIrDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RQqNv9A8kwUdt_faYfFH3mCbfRSTC74NoB9HopIIrDk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order recieve from retailer": "={{ $json['ordered to supplier'] }}",
            "Product Name": "={{ $json['Product Name'] }}"
          },
          "matchingColumns": [
            "Product Name"
          ],
          "schema": [
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Supplier Total Stock",
              "displayName": "Supplier Total Stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Committed Stock",
              "displayName": "Committed Stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Available to Sell",
              "displayName": "Available to Sell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Allotment for Retailer A",
              "displayName": "Allotment for Retailer A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "order recieve from retailer",
              "displayName": "order recieve from retailer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity Delivered to Retailer",
              "displayName": "Quantity Delivered to Retailer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Delivery Date",
              "displayName": "Delivery Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "change_type",
              "displayName": "change_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Supplier Name",
              "displayName": "Supplier Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cost Price",
              "displayName": "Cost Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Selling Price",
              "displayName": "Selling Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ordered to supplier",
              "displayName": "ordered to supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "empty",
              "displayName": "empty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "order recieve from seller",
              "displayName": "order recieve from seller",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total inventry",
              "displayName": "total inventry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Available Stock(Sync with Shopify)",
              "displayName": "Available Stock(Sync with Shopify)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NO. of items sold",
              "displayName": "NO. of items sold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        336
      ],
      "id": "1caf58dd-7df8-418b-960a-924ad3a61c49",
      "name": "Append or update row in sheet1",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sCBFYjTvjRvULpHE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "topic": "orders/create"
      },
      "type": "n8n-nodes-base.shopifyTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        624
      ],
      "id": "db2f199c-f6eb-4699-acb3-f742245f3aff",
      "name": "Shopify Trigger",
      "webhookId": "48677305-b271-457a-b565-6cc4d51a5b88",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "ppZfLpogVY5e9O85",
          "name": "Shopify Access Token account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw",
          "mode": "list",
          "cachedResultName": "Retailer sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        336
      ],
      "id": "97b05f0b-5833-4950-9559-293d66e387ab",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "rDsYU3KACOONjWvh",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Initialize an array to hold the final merged data\nconst finalData = [];\n\n// Loop through each order coming into the node\nfor (const item of $input.all()) {\n  const order = item.json;\n\n  // --- PART 1: Extract Customer & Notification Data (One time per order) ---\n  const shipping = order.shipping_address || {};\n  const billing = order.billing_address || {};\n  const customer = order.customer || {};\n\n  const customerInfo = {\n    // Order Details\n    order_id: order.order_number,\n    order_date: order.created_at,\n    order_total_price: order.total_price, // Renamed to clearly indicate it's the Total\n    currency: order.currency,\n    payment_method: order.payment_gateway_names ? order.payment_gateway_names.join(', ') : \"Unknown\",\n    \n    // Customer Contact\n    customer_name: shipping.name || billing.name || \"Guest\",\n    customer_email: order.email || order.contact_email,\n    customer_phone: shipping.phone || billing.phone || \"No Phone Provided\",\n    \n    // Location\n    city: shipping.city || \"Unknown City\",\n    address: shipping.address1 || \"Unknown Address\",\n    \n    // History\n    orders_count: customer.orders_count || 1,\n    total_spent: customer.total_spent || order.total_price\n  };\n\n  // --- PART 2: Merge with Product Data (Loop through items) ---\n  if (order.line_items && order.line_items.length > 0) {\n    order.line_items.forEach(lineItem => {\n      finalData.push({\n        json: {\n          // Spread (...) puts all the customer fields into this row automatically\n          ...customerInfo, \n\n          // Now add the specific Product Data\n          product_name: lineItem.name,\n          quantity: lineItem.quantity,\n          item_price: lineItem.price, // This is the price of the single product\n          sku: lineItem.sku || \"N/A\",\n          variant: lineItem.variant_title || \"Default\"\n        }\n      });\n    });\n  }\n}\n\n// Return one unified list containing EVERYTHING\nreturn finalData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        624
      ],
      "id": "00e04b45-50b4-482e-9a63-8c2397683aa0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "813028008561006",
        "recipientPhoneNumber": "+923245653813",
        "textBody": "=Attention to Retailer;\nkindly proceed the following order as per details.\norder id :{{ $json.order_id }},\ncustomer name: {{ $json.customer_name }},\ncustomer phone number: {{ $json.customer_phone }},\nproduct  name: {{ $json.product_name }},\npayment method: {{ $json.payment_method }},\nitem price: {{ $json.item_price }},\nproduct sku: {{ $json.sku }},\ncustomer email: {{ $json.customer_email }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        560,
        816
      ],
      "id": "f616f4a4-fd6c-4f9f-87da-33c594fa153e",
      "name": "Send message",
      "webhookId": "9a6d850f-7aef-4f2c-80f2-77341abfca2a",
      "credentials": {
        "whatsAppApi": {
          "id": "v6kl7MnWQ5Mpe2L2",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw",
          "mode": "list",
          "cachedResultName": "Retailer sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SKU": "={{ $json.sku }}",
            "NO. of items sold": "={{ $json.quantity }}",
            "row_number": 0
          },
          "matchingColumns": [
            "SKU"
          ],
          "schema": [
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Supplier Name",
              "displayName": "Supplier Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cost Price",
              "displayName": "Cost Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Selling Price",
              "displayName": "Selling Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Allotment for Retailer A",
              "displayName": "Allotment for Retailer A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ordered to supplier",
              "displayName": "ordered to supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "empty",
              "displayName": "empty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "order recieve from seller",
              "displayName": "order recieve from seller",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total inventry",
              "displayName": "total inventry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Available Stock(Sync with Shopify)",
              "displayName": "Available Stock(Sync with Shopify)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NO. of items sold",
              "displayName": "NO. of items sold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order from shopify",
              "displayName": "order from shopify",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        464
      ],
      "id": "e13874f9-32d8-436f-9ff9-f0aa7fd432f0",
      "name": "Update row in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sCBFYjTvjRvULpHE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "93d34b4a-5c2e-43d2-8497-b727e4ca14e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f758b2ef263d2c8e4bf66d6e8a38262a4d3bd1767731aeaccadbec9c124d6ff"
  },
  "id": "Ul7XhcGw1rMk6fDc",
  "tags": []
}