team project (2).json
{
  "name": "team project",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1RQqNv9A8kwUdt_faYfFH3mCbfRSTC74NoB9HopIIrDk",
          "mode": "list",
          "cachedResultName": "supplier sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RQqNv9A8kwUdt_faYfFH3mCbfRSTC74NoB9HopIIrDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RQqNv9A8kwUdt_faYfFH3mCbfRSTC74NoB9HopIIrDk/edit#gid=0"
        },
        "options": {
          "columnsToWatch": [
            "Allotment for Retailer A"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        -160
      ],
      "id": "a055ca35-632d-4811-8759-c5e41edcf0cc",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "rDsYU3KACOONjWvh",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw",
          "mode": "list",
          "cachedResultName": "Retailer sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SKU": "={{ $json.SKU }}",
            "Product Name": "={{ $json['Product Name'] }}",
            "Allotment for Retailer A": "={{ $json['Allotment for Retailer A'] }}",
            "order recieve from seller": "={{ $json['Quantity Delivered to Retailer'] }}"
          },
          "matchingColumns": [
            "Product Name"
          ],
          "schema": [
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Supplier Name",
              "displayName": "Supplier Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cost Price",
              "displayName": "Cost Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Selling Price",
              "displayName": "Selling Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Allotment for Retailer A",
              "displayName": "Allotment for Retailer A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ordered to supplier",
              "displayName": "ordered to supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "empty",
              "displayName": "empty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "order recieve from seller",
              "displayName": "order recieve from seller",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total inventry",
              "displayName": "total inventry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Available Stock(Sync with Shopify)",
              "displayName": "Available Stock(Sync with Shopify)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NO. of items sold",
              "displayName": "NO. of items sold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        -160
      ],
      "id": "9a363d67-d82f-488a-a100-b5f05ef5ea9d",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sCBFYjTvjRvULpHE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "62c0f8cc-ef17-4899-82a1-99a3a8390460",
              "leftValue": "={{ $json['Available Stock(Sync with Shopify)'] }}",
              "rightValue": "=10",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        96
      ],
      "id": "67e6ae90-14d4-421b-8541-95ff6d94f306",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw",
          "mode": "list",
          "cachedResultName": "Retailer sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -336,
        96
      ],
      "id": "0ad6c72b-8b40-447c-8a09-afbb1dd57f8c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sCBFYjTvjRvULpHE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "alert PO",
        "message": "=with sku  {{ $json.SKU }} this your item is reache in minimum  value.\nplease proceed reorder it.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        288,
        96
      ],
      "id": "b6ef63c9-a753-42c5-964b-535712a91178",
      "name": "Send a message",
      "webhookId": "53801a64-1ddb-4192-bc9f-38b797f6ce44",
      "credentials": {
        "gmailOAuth2": {
          "id": "aOp8dwXlr3MdrfKN",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -576,
        96
      ],
      "id": "0c7588eb-e50c-4823-b25f-84d1edf41668",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RQqNv9A8kwUdt_faYfFH3mCbfRSTC74NoB9HopIIrDk",
          "mode": "list",
          "cachedResultName": "supplier sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RQqNv9A8kwUdt_faYfFH3mCbfRSTC74NoB9HopIIrDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RQqNv9A8kwUdt_faYfFH3mCbfRSTC74NoB9HopIIrDk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order recieve from retailer": "={{ $json['ordered to supplier'] }}",
            "Product Name": "={{ $json['Product Name'] }}"
          },
          "matchingColumns": [
            "Product Name"
          ],
          "schema": [
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Supplier Total Stock",
              "displayName": "Supplier Total Stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Committed Stock",
              "displayName": "Committed Stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Available to Sell",
              "displayName": "Available to Sell",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Allotment for Retailer A",
              "displayName": "Allotment for Retailer A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "order recieve from retailer",
              "displayName": "order recieve from retailer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity Delivered to Retailer",
              "displayName": "Quantity Delivered to Retailer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Delivery Date",
              "displayName": "Delivery Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "change_type",
              "displayName": "change_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Supplier Name",
              "displayName": "Supplier Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cost Price",
              "displayName": "Cost Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Selling Price",
              "displayName": "Selling Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ordered to supplier",
              "displayName": "ordered to supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "empty",
              "displayName": "empty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "order recieve from seller",
              "displayName": "order recieve from seller",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total inventry",
              "displayName": "total inventry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Available Stock(Sync with Shopify)",
              "displayName": "Available Stock(Sync with Shopify)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NO. of items sold",
              "displayName": "NO. of items sold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        336
      ],
      "id": "1caf58dd-7df8-418b-960a-924ad3a61c49",
      "name": "Append or update row in sheet1",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sCBFYjTvjRvULpHE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "topic": "orders/create"
      },
      "type": "n8n-nodes-base.shopifyTrigger",
      "typeVersion": 1,
      "position": [
        -608,
        624
      ],
      "id": "db2f199c-f6eb-4699-acb3-f742245f3aff",
      "name": "Shopify Trigger",
      "webhookId": "48677305-b271-457a-b565-6cc4d51a5b88",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "ppZfLpogVY5e9O85",
          "name": "Shopify Access Token account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw",
          "mode": "list",
          "cachedResultName": "Retailer sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        336
      ],
      "id": "97b05f0b-5833-4950-9559-293d66e387ab",
      "name": "Google Sheets Trigger1",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "rDsYU3KACOONjWvh",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Initialize an array to hold the final merged data\nconst finalData = [];\n\n// Loop through each order coming into the node\nfor (const item of $input.all()) {\n  const order = item.json;\n\n  // --- PART 1: Extract Customer & Notification Data (One time per order) ---\n  const shipping = order.shipping_address || {};\n  const billing = order.billing_address || {};\n  const customer = order.customer || {};\n\n  const customerInfo = {\n    // Order Details\n    order_id: order.order_number,\n    order_date: order.created_at,\n    order_total_price: order.total_price, // Renamed to clearly indicate it's the Total\n    currency: order.currency,\n    payment_method: order.payment_gateway_names ? order.payment_gateway_names.join(', ') : \"Unknown\",\n    \n    // Customer Contact\n    customer_name: shipping.name || billing.name || \"Guest\",\n    customer_email: order.email || order.contact_email,\n    customer_phone: shipping.phone || billing.phone || \"No Phone Provided\",\n    \n    // Location\n    city: shipping.city || \"Unknown City\",\n    address: shipping.address1 || \"Unknown Address\",\n    \n    // History\n    orders_count: customer.orders_count || 1,\n    total_spent: customer.total_spent || order.total_price\n  };\n\n  // --- PART 2: Merge with Product Data (Loop through items) ---\n  if (order.line_items && order.line_items.length > 0) {\n    order.line_items.forEach(lineItem => {\n      finalData.push({\n        json: {\n          // Spread (...) puts all the customer fields into this row automatically\n          ...customerInfo, \n\n          // Now add the specific Product Data\n          product_name: lineItem.name,\n          quantity: lineItem.quantity,\n          item_price: lineItem.price, // This is the price of the single product\n          sku: lineItem.sku || \"N/A\",\n          variant: lineItem.variant_title || \"Default\"\n        }\n      });\n    });\n  }\n}\n\n// Return one unified list containing EVERYTHING\nreturn finalData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        624
      ],
      "id": "00e04b45-50b4-482e-9a63-8c2397683aa0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "813028008561006",
        "recipientPhoneNumber": "+923245653813",
        "textBody": "=Attention to Retailer;\nkindly proceed the following order as per details.\norder id :{{ $json.order_id }},\ncustomer name: {{ $json.customer_name }},\ncustomer phone number: {{ $json.customer_phone }},\nproduct  name: {{ $json.product_name }},\npayment method: {{ $json.payment_method }},\nitem price: {{ $json.item_price }},\nproduct sku: {{ $json.sku }},\ncustomer email: {{ $json.customer_email }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        448,
        768
      ],
      "id": "f616f4a4-fd6c-4f9f-87da-33c594fa153e",
      "name": "Send message",
      "webhookId": "9a6d850f-7aef-4f2c-80f2-77341abfca2a",
      "credentials": {
        "whatsAppApi": {
          "id": "v6kl7MnWQ5Mpe2L2",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw",
          "mode": "list",
          "cachedResultName": "Retailer sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SKU": "={{ $json.sku }}",
            "NO. of items sold": "={{ $json.no[' of items sold'] }}",
            "row_number": 0
          },
          "matchingColumns": [
            "SKU"
          ],
          "schema": [
            {
              "id": "Product Name",
              "displayName": "Product Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "SKU",
              "displayName": "SKU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Supplier Name",
              "displayName": "Supplier Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cost Price",
              "displayName": "Cost Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Selling Price",
              "displayName": "Selling Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Allotment for Retailer A",
              "displayName": "Allotment for Retailer A",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ordered to supplier",
              "displayName": "ordered to supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "empty",
              "displayName": "empty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "order recieve from seller",
              "displayName": "order recieve from seller",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total inventry",
              "displayName": "total inventry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Available Stock(Sync with Shopify)",
              "displayName": "Available Stock(Sync with Shopify)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "NO. of items sold",
              "displayName": "NO. of items sold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "order from shopify",
              "displayName": "order from shopify",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        416
      ],
      "id": "e13874f9-32d8-436f-9ff9-f0aa7fd432f0",
      "name": "Update row in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sCBFYjTvjRvULpHE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw",
          "mode": "list",
          "cachedResultName": "Retailer sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1E43VwrR0vxtIc-hOpZKnkny9vsUv3iKedwr5cMBFHLw/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "SKU",
              "lookupValue": "={{ $json.sku }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        400
      ],
      "id": "b6f3f79a-21c9-4496-8656-c8e155accc3e",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sCBFYjTvjRvULpHE",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0bfbc2e-7be5-41a2-a080-c6c630273d0a",
              "name": "no. of items sold",
              "value": "={{ (parseInt($json['NO. of items sold']) || 0) + parseInt($('Code in JavaScript').item.json.quantity) }}",
              "type": "string"
            },
            {
              "id": "579838fd-f983-4e73-862f-e9222438039b",
              "name": "sku",
              "value": "={{ $('Code in JavaScript').item.json.sku }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        416
      ],
      "id": "01db92d8-1a13-42d8-8251-fcc8a9620d81",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Shopify Trigger": [
      {
        "json": {
          "id": 7647166595234,
          "admin_graphql_api_id": "gid://shopify/Order/7647166595234",
          "app_id": 580111,
          "browser_ip": "110.38.177.130",
          "buyer_accepts_marketing": false,
          "cancel_reason": null,
          "cancelled_at": null,
          "cart_token": "hWN6ZT8wVdKRXbxbqZKOoTxK",
          "checkout_id": 29726683594914,
          "checkout_token": "f03a8ee25277ddb0c354a63b9c99315e",
          "client_details": {
            "accept_language": "en-PK",
            "browser_height": null,
            "browser_ip": "110.38.177.130",
            "browser_width": null,
            "session_hash": null,
            "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36"
          },
          "closed_at": null,
          "confirmation_number": "EATLV85DK",
          "confirmed": true,
          "contact_email": "arslanmali373@gmail.com",
          "created_at": "2025-12-18T16:23:08+05:00",
          "currency": "PKR",
          "current_shipping_price_set": {
            "shop_money": {
              "amount": "1373.27",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "1373.27",
              "currency_code": "PKR"
            }
          },
          "current_subtotal_price": "8700.00",
          "current_subtotal_price_set": {
            "shop_money": {
              "amount": "8700.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "8700.00",
              "currency_code": "PKR"
            }
          },
          "current_total_additional_fees_set": null,
          "current_total_discounts": "0.00",
          "current_total_discounts_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            }
          },
          "current_total_duties_set": null,
          "current_total_price": "11465.27",
          "current_total_price_set": {
            "shop_money": {
              "amount": "11465.27",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "11465.27",
              "currency_code": "PKR"
            }
          },
          "current_total_tax": "1392.00",
          "current_total_tax_set": {
            "shop_money": {
              "amount": "1392.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "1392.00",
              "currency_code": "PKR"
            }
          },
          "customer_locale": "en-PK",
          "device_id": null,
          "discount_codes": [],
          "duties_included": false,
          "email": "arslanmali373@gmail.com",
          "estimated_taxes": false,
          "financial_status": "pending",
          "fulfillment_status": null,
          "landing_site": "/",
          "landing_site_ref": null,
          "location_id": null,
          "merchant_business_entity_id": "28416934050",
          "merchant_of_record_app_id": null,
          "name": "#1025",
          "note": null,
          "note_attributes": [],
          "number": 25,
          "order_number": 1025,
          "order_status_url": "https://n8n.wizz-arts.com/69194514594/orders/6c79d10230b49528abf420fdd0fe104e/authenticate?key=5fec19c0312fbfe3372f250a3d933e37",
          "original_total_additional_fees_set": null,
          "original_total_duties_set": null,
          "payment_gateway_names": [
            "Cash on Delivery (COD)"
          ],
          "phone": null,
          "po_number": null,
          "presentment_currency": "PKR",
          "processed_at": "2025-12-18T16:23:07+05:00",
          "reference": null,
          "referring_site": "https://admin.shopify.com/",
          "source_identifier": null,
          "source_name": "web",
          "source_url": null,
          "subtotal_price": "8700.00",
          "subtotal_price_set": {
            "shop_money": {
              "amount": "8700.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "8700.00",
              "currency_code": "PKR"
            }
          },
          "tags": "",
          "tax_exempt": false,
          "tax_lines": [
            {
              "price": "1392.00",
              "rate": 0.16,
              "title": "GST",
              "price_set": {
                "shop_money": {
                  "amount": "1392.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "1392.00",
                  "currency_code": "PKR"
                }
              },
              "channel_liable": false
            }
          ],
          "taxes_included": false,
          "test": false,
          "token": "6c79d10230b49528abf420fdd0fe104e",
          "total_cash_rounding_payment_adjustment_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            }
          },
          "total_cash_rounding_refund_adjustment_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            }
          },
          "total_discounts": "0.00",
          "total_discounts_set": {
            "shop_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "0.00",
              "currency_code": "PKR"
            }
          },
          "total_line_items_price": "8700.00",
          "total_line_items_price_set": {
            "shop_money": {
              "amount": "8700.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "8700.00",
              "currency_code": "PKR"
            }
          },
          "total_outstanding": "11465.27",
          "total_price": "11465.27",
          "total_price_set": {
            "shop_money": {
              "amount": "11465.27",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "11465.27",
              "currency_code": "PKR"
            }
          },
          "total_shipping_price_set": {
            "shop_money": {
              "amount": "1373.27",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "1373.27",
              "currency_code": "PKR"
            }
          },
          "total_tax": "1392.00",
          "total_tax_set": {
            "shop_money": {
              "amount": "1392.00",
              "currency_code": "PKR"
            },
            "presentment_money": {
              "amount": "1392.00",
              "currency_code": "PKR"
            }
          },
          "total_tip_received": "0.00",
          "total_weight": 0,
          "updated_at": "2025-12-18T16:23:09+05:00",
          "user_id": null,
          "billing_address": {
            "first_name": "David",
            "address1": "new york",
            "phone": null,
            "city": "new york",
            "zip": null,
            "province": null,
            "country": "Pakistan",
            "last_name": "varner",
            "address2": null,
            "company": null,
            "latitude": 40.7674618,
            "longitude": -73.96955480000001,
            "name": "David varner",
            "country_code": "PK",
            "province_code": null
          },
          "customer": {
            "id": 9776519282850,
            "created_at": "2025-12-17T10:29:45+05:00",
            "updated_at": "2025-12-18T16:23:08+05:00",
            "first_name": "David",
            "last_name": "Warner",
            "state": "disabled",
            "note": null,
            "verified_email": true,
            "multipass_identifier": null,
            "tax_exempt": false,
            "email": "arslanmali373@gmail.com",
            "phone": null,
            "currency": "PKR",
            "tax_exemptions": [],
            "admin_graphql_api_id": "gid://shopify/Customer/9776519282850",
            "default_address": {
              "id": 10559984730274,
              "customer_id": 9776519282850,
              "first_name": "David",
              "last_name": "varner",
              "company": null,
              "address1": "new york",
              "address2": null,
              "city": "new york",
              "province": null,
              "country": "Pakistan",
              "zip": null,
              "phone": null,
              "name": "David varner",
              "province_code": null,
              "country_code": "PK",
              "country_name": "Pakistan",
              "default": true
            }
          },
          "discount_applications": [],
          "fulfillments": [],
          "line_items": [
            {
              "id": 16482673524898,
              "admin_graphql_api_id": "gid://shopify/LineItem/16482673524898",
              "attributed_staffs": [],
              "current_quantity": 1,
              "fulfillable_quantity": 1,
              "fulfillment_service": "manual",
              "fulfillment_status": null,
              "gift_card": false,
              "grams": 0,
              "name": "Acrylic Gesso - 600 GM / White",
              "price": "1200.00",
              "price_set": {
                "shop_money": {
                  "amount": "1200.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "1200.00",
                  "currency_code": "PKR"
                }
              },
              "product_exists": true,
              "product_id": 8831708463266,
              "properties": [],
              "quantity": 1,
              "requires_shipping": true,
              "sales_line_item_group_id": null,
              "sku": "101215",
              "taxable": true,
              "title": "Acrylic Gesso",
              "total_discount": "0.00",
              "total_discount_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                }
              },
              "variant_id": 46274755199138,
              "variant_inventory_management": "shopify",
              "variant_title": "600 GM / White",
              "vendor": "Wizz Arts ",
              "tax_lines": [
                {
                  "channel_liable": false,
                  "price": "192.00",
                  "price_set": {
                    "shop_money": {
                      "amount": "192.00",
                      "currency_code": "PKR"
                    },
                    "presentment_money": {
                      "amount": "192.00",
                      "currency_code": "PKR"
                    }
                  },
                  "rate": 0.16,
                  "title": "GST"
                }
              ],
              "duties": [],
              "discount_allocations": []
            },
            {
              "id": 16482673557666,
              "admin_graphql_api_id": "gid://shopify/LineItem/16482673557666",
              "attributed_staffs": [],
              "current_quantity": 1,
              "fulfillable_quantity": 1,
              "fulfillment_service": "manual",
              "fulfillment_status": null,
              "gift_card": false,
              "grams": 0,
              "name": "3-in-1 Primer (Water based) - 3.64 Ltr",
              "price": "5000.00",
              "price_set": {
                "shop_money": {
                  "amount": "5000.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "5000.00",
                  "currency_code": "PKR"
                }
              },
              "product_exists": true,
              "product_id": 8831782453410,
              "properties": [],
              "quantity": 1,
              "requires_shipping": true,
              "sales_line_item_group_id": null,
              "sku": "10001",
              "taxable": true,
              "title": "3-in-1 Primer (Water based)",
              "total_discount": "0.00",
              "total_discount_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                }
              },
              "variant_id": 46274943647906,
              "variant_inventory_management": "shopify",
              "variant_title": "3.64 Ltr",
              "vendor": "Wizz Arts ",
              "tax_lines": [
                {
                  "channel_liable": false,
                  "price": "800.00",
                  "price_set": {
                    "shop_money": {
                      "amount": "800.00",
                      "currency_code": "PKR"
                    },
                    "presentment_money": {
                      "amount": "800.00",
                      "currency_code": "PKR"
                    }
                  },
                  "rate": 0.16,
                  "title": "GST"
                }
              ],
              "duties": [],
              "discount_allocations": []
            },
            {
              "id": 16482673590434,
              "admin_graphql_api_id": "gid://shopify/LineItem/16482673590434",
              "attributed_staffs": [],
              "current_quantity": 1,
              "fulfillable_quantity": 1,
              "fulfillment_service": "manual",
              "fulfillment_status": null,
              "gift_card": false,
              "grams": 0,
              "name": "Acrylic Pouring Medium ,1 ltr",
              "price": "2500.00",
              "price_set": {
                "shop_money": {
                  "amount": "2500.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "2500.00",
                  "currency_code": "PKR"
                }
              },
              "product_exists": true,
              "product_id": 8838290374818,
              "properties": [],
              "quantity": 1,
              "requires_shipping": true,
              "sales_line_item_group_id": null,
              "sku": "236253",
              "taxable": true,
              "title": "Acrylic Pouring Medium ,1 ltr",
              "total_discount": "0.00",
              "total_discount_set": {
                "shop_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "0.00",
                  "currency_code": "PKR"
                }
              },
              "variant_id": 46305666433186,
              "variant_inventory_management": "shopify",
              "variant_title": null,
              "vendor": "Wizz Arts ",
              "tax_lines": [
                {
                  "channel_liable": false,
                  "price": "400.00",
                  "price_set": {
                    "shop_money": {
                      "amount": "400.00",
                      "currency_code": "PKR"
                    },
                    "presentment_money": {
                      "amount": "400.00",
                      "currency_code": "PKR"
                    }
                  },
                  "rate": 0.16,
                  "title": "GST"
                }
              ],
              "duties": [],
              "discount_allocations": []
            }
          ],
          "payment_terms": null,
          "refunds": [],
          "shipping_address": {
            "first_name": "David",
            "address1": "new york",
            "phone": null,
            "city": "new york",
            "zip": null,
            "province": null,
            "country": "Pakistan",
            "last_name": "varner",
            "address2": null,
            "company": null,
            "latitude": 40.7674618,
            "longitude": -73.96955480000001,
            "name": "David varner",
            "country_code": "PK",
            "province_code": null
          },
          "shipping_lines": [
            {
              "id": 6244683710626,
              "carrier_identifier": null,
              "code": "Economy",
              "current_discounted_price_set": {
                "shop_money": {
                  "amount": "1373.27",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "1373.27",
                  "currency_code": "PKR"
                }
              },
              "discounted_price": "1373.27",
              "discounted_price_set": {
                "shop_money": {
                  "amount": "1373.27",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "1373.27",
                  "currency_code": "PKR"
                }
              },
              "is_removed": false,
              "phone": null,
              "price": "1373.27",
              "price_set": {
                "shop_money": {
                  "amount": "1373.27",
                  "currency_code": "PKR"
                },
                "presentment_money": {
                  "amount": "1373.27",
                  "currency_code": "PKR"
                }
              },
              "requested_fulfillment_service_id": null,
              "source": "shopify",
              "title": "Economy",
              "tax_lines": [],
              "discount_allocations": []
            }
          ],
          "returns": [],
          "line_item_groups": []
        }
      }
    ]
  },
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Shopify Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "790e5dc1-e769-4b6d-8aa2-e25a01f6db45",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f758b2ef263d2c8e4bf66d6e8a38262a4d3bd1767731aeaccadbec9c124d6ff"
  },
  "id": "Ul7XhcGw1rMk6fDc",
  "tags": []
}